@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
 }

button {
   font-size: 18px;
   border-radius: 10px;
   text-align: center;
   padding: 0.5em 1em;
}


 /* header css */
 
 
 header {
    padding: 1em 15%;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
 }
 
 
 .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
 }
 
ul {
   list-style-type: none;
   list-style-type: none;
   display: flex;
   justify-content: flex-end;
   gap: 1em;
   align-items: center;
} 


 a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
 }
 
 /* Hero section */

 .hero-section {
    margin: 0;
    padding: 3em 15%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    align-items: stretch;
    background-color: #1f2937;
 }

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    min-width: 280px;
    max-width: 500px;
}

 h1 {
    margin: 0;
    padding: 0;
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
 }

 .p-hero {
    margin: 0;
    padding: 0;
    color: #e5e7eb;
    font-size: 18px;
 }

 .button-hero {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    font-weight: 400;
 }

.img-container {
    display: flex;
    flex-shrink: 0.5;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* info section */

h2 {
   font-size: 36px;
   font-weight: 900;
   color: #1f2937;
   text-align: center;
}

.info {
   margin: 0;
   padding: 1em 15% 3em;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1em;
}

.gallery {
   width: 700px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.5em;
}

.card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1em;
}

.square {
   border: 2px solid #3882f6;
   border-radius: 20px;
   width: 95%;
   aspect-ratio: 1;
}

.caption {
   margin: 0;
   padding: 0;
   font-size: 15px;
   color:#1f2937;
   text-align: center;
}

/* quote section */

p {
   margin: 0;
   padding: 0;
}

.quote-box {
   background-color: #e5e7eb;
   padding: 5em 15%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.quote-text {
   width: 800px;
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.p-quote {
   color: #1f2937;
   font-size: 36px;
   font-weight:100;
   font-style: italic;
   text-align: left;
}

.p-author {
   font-size: 24px;
   color: #1f2937;
   text-align: right;
   font-weight: 900;
}

/* call to action section */

.cta {
   margin: 0;
   padding: 5em 15%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cta-box {
   margin: 0;
   width: 100%;
   background-color: #3882f6;
   padding: 2em 4em;
   border-radius: 10px; 
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.cta-text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

h3 {
   margin: 0;
   padding: 0;
   font-size: 24px;
   font-weight: 700;
   text-align: left;
   color: #e5e7eb;
}

.p-cta {
   font-size: 18px;
   color: #e5e7eb;
   text-align: left;
}

.cta-button {
   background-color: #3882f6;
   color: #e5e7eb;
   border: 2px solid #e5e7eb;
   font-weight: 600;
   padding: 0.25em 0.5em;
}

/* footer */

footer {
   padding: 2em 15%;
   background-color: #1f2937;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer-text {
   text-align: center;
   font-size: 18px;
   color: #f9faf8;
}